{% extends 'base.html.twig' %}
{% block title %}Purchase Orders{% endblock %}
{% block content %}
<div class="db-wrapper">
  <div class="db-resize-horizontal">
    <table>
      <tr>
        <th>{{ knp_pagination_sortable(result, 'PO Num', 'po_num') }}</th>
        <th>{{ knp_pagination_sortable(result, 'Vendor', 'vendor.vendor_name') }}</th>
        <th>{{ knp_pagination_sortable(result, 'Terms', 'terms.po_code') }}</th>
        <th>{{ knp_pagination_sortable(result, 'Received', 'po_received') }}</th>
        <th>{{ knp_pagination_sortable(result, 'Paid', 'paid') }}</th>
        <th>{{ knp_pagination_sortable(result, 'Order Date', 'order_date') }}</th>
        <th>{{ knp_pagination_sortable(result, 'Price', 'price') }}</th>
      </tr>
      {% for row in result %} {# simple loop to output rows #}
        <tr>
          <td><a href="{{ path('display_purchase_order', { po_num: row.poNum }) }}">{{ row.poNum }}</a></td>
          <td><a href="{{ path('display_vendor', { vendor_num: row.poVendor.vendorCode }) }}">{{row.poVendor.vendorCode }}</td>
          <td>{{ row.poTerms.termsCode }}</td>
          <td>{{ row.poReceived }}</td>
          <td>{{ row.poPaid }}</td>
          <td>{{ row.poOrderDate|format_datetime('short', 'none') }}</td>
          <td>{{ row.poPrice }}</td>
        </tr> 
      {% endfor %}
    </table>
  </div>
  {{ include('purchase_order/po_form.html.twig') }}
</div>
{% endblock %}

{% block footer %}
<div class="db-bar">
  {{ include('widgets/limit_widget.html.twig') }}
  <span class="db-right">
    {{ knp_pagination_render(result, 'pagination/dboling_pagination.html.twig') }}
  </span>
</div>
{% endblock %}