{% block form %}
<div class="db-twothird">
  {{ form_start(form, {'attr': {'class':'db-wrapper db-fill db-column db-border'}}) }}
    {{ form_errors(form, {'class':'db-error'}) }}
    <span class="db-column db-half">
      <div class="db-form-section">
        {{ form_row(form.po_num, {'attr': {'class':'db-input db-filter'}}) }}
      </div>
      <div class="db-form-section">
        {{ form_row(form.po_total_cost, {'attr': {'class':'db-input'}}) }}
      </div>
      <div class="db-form-section">
        {{ form_row(form.po_date, {'attr': {'class':'db-input'}}) }}
        {# <button type="button" class="db-button db-red" onclick="window.location.href='{{ path('item_clear_exp_date', {item_code: item.itemCode}) }}';">Clear Exp Date</button> #}
      </div>
      <div class="db-form-section">
        {{ form_row(form.po_ship_code, {'attr': {'class':'db-input'}}) }}
      </div>
      <div class="db-form-section">
        {{ form_row(form.po_freight, {'attr': {'class':'db-input'}}) }}
      </div>
    </span>
    <span class="db-column db-half">
      <div class="db-form-section">
        {{ form_row(form.po_vendor, {'attr': {'class':'db-input'}}) }}
      </div>
      <div class="db-form-section">
        {{ form_row(form.po_terms, {'attr': {'class':'db-input'}}) }}
      </div>
      <div class="db-form-section">
        {{ form_row(form.po_status, {'attr': {'class':'db-input'}}) }}
      </div>
      <div class="db-form-section">
        {{ form_row(form.po_received, {'attr': {'class':'db-input'}}) }}
      </div>
      <div class="db-form-section">
        {{ form_row(form.po_paid, {'attr': {'class':'db-input'}}) }}
      </div>
    </span>
  {{ form_end(form) }}
</div>
{% endblock %}