{% block form %}
<div class="db-panel db-wrapper db-third">
  <form class="db-wrapper db-fill db-column db-border" id="po_form" method="post">
    <div class="db-form-section">
      <label for="po_num">
        PO Num
        <input type="text" class="db-input db-border" list="po_datalist" id="po_num" name="po_num" value="{{ params.po_num }}" autocomplete="off">
        <datalist id="po_datalist">
          {% for po in result %}
            <option value="{{ po.poNum }}">{{ po.poNum }}</option>
          {% endfor %}
        </datalist>
      </label>
    </div>
    <div class="db-form-section">
      <label for="po_vendor">
        Vendor
        <input type="text" class="db-input db-border" list="vendor_datalist" id="po_vendor" name="po_vendor" value="{{ params.po_vendor }}" autocomplete="off">
        <datalist id="vendor_datalist">
          {% for vendor in vendors %}
            <option value="{{ vendor.vendorCode }}">{{ vendor.vendorCode ~ ' | ' ~ vendor.vendorName }}</option>
          {% endfor %}
        </datalist>
      </label>
    </div>
    <div class="db-form-section">
      <label for="po_terms">
        Terms
        <input type="text" class="db-input db-border" list="terms_datalist" id="po_terms" name="po_terms" value="{{ params.po_terms }}" autocomplete="off">
        <datalist id="terms_datalist">
          {% for term in terms %}
            <option value="{{ term.termsCode }}">{{ term.termsCode }}</option>
          {% endfor %}
        </datalist>
      </label>
    </div>
    <div class="db-form-section">
      <label for="po_price">
        Price
        <input type="text" class="db-input db-border" id="po_price" name="po_price" value="{{ params.po_price }}" autocomplete="off">
      </label>
    </div>
    <div class="db-form-section">
      <label for="date">PO Date</label>
      <div class="db-wrapper">
        <input type="date" class="db-input db-border" id="po_date" name="po_date" value="{{ params.po_date }}" autocomplete="off">
      </div>
    </div>
    <div class="db-wrapper db-form-section">
      {% if item is defined %}
        <button type="submit" class="db-button db-border" formaction="{{ path('modify_item', { item_name: item.name }) }}">Modify Item</button>
        <button type="submit" class="db-button db-border" formaction="{{ path('list_items') }}">Search</button>
        <button type="submit" class="db-button db-border db-red" formaction="{{ path('delete_item', { item_name: item.name }) }}">Delete Item</button>
      {% else %}
        <button type="submit" class="db-button db-border" formaction="{{ path('new_item') }}">Create Item</button>
        <button type="submit" class="db-button db-border" formaction="{{ path('list_items') }}">Search</button>
      {% endif %}
    </div>
  </form>
</div>


<script>
const object_params = {{ params|json_encode()|raw }};
const loc_widget = document.getElementById('loc_widget');
const loc_template = document.getElementById('loc_template');
var loc_input = [];
for (let i = 0; i < 5; i++)
{
  const clone = loc_template.content.cloneNode(true);
  loc_widget.appendChild(clone);
  loc_widget.children[i].id = 'location_section_0' + (i + 1);
  loc_widget.children[i].addEventListener('change', update_loc_values);
}

// filling values and input list from loaded entity, if exists
if (object_params.item_location) {
  object_params.item_location.forEach((value,index) => {
    loc_section = loc_widget.children[index];
    loc_section.value = value;
    loc_input[index] = value;
  });
}

function update_loc_values()
{
  var loc_input = [];
  [].forEach.call(location_widget.children, (child, index) => {
    if (![null, ''].includes(child.value))
    {
      loc_input.push(child.value);
    }
  });
  document.getElementById('item_loc_value').value = loc_input;
}

</script>
{% endblock %}