{% extends 'base.html.twig' %}
{% block title %}Purchase Orders{% endblock %}
{% block content %}
<div class="db-wrapper">
  <div class="db-resize-horizontal db-quarter">
    <div {{ stimulus_controller('table_widget', {'thead': po_thead, 'tdata': po_result.items}) }}></div>
    {{ knp_pagination_render(po_result, 'pagination/dboling_pagination.html.twig') }}
  </div>
  <div class="db-wrapper db-column db-panel">
    {{ include('purchase_order/po_form.html.twig') }}
    <div class="db-tab">
      <button class="db-tablinks db-button" onclick="open_tab(event, 'po_lines')">PO Lines</button>
      <button class="db-tablinks db-button" onclick="open_tab(event, 'vendor_details')">Vendor</button>
    </div>
    <div id="po_lines" class="db-tabcontent db-resize-horizontal db-half">
      {# {{ include('purchase_order/po_lines.html.twig') }} #}
    </div>
    <div id="vendor_details" class="db-tabcontent db-quarter">
      {# {{ include('vendor/vendor_details.html.twig') }} #}
    </div>
  </div>
</div>



<script>
tab_content = document.getElementsByClassName('db-tabcontent');
tab_links = document.getElementsByClassName('db-tablinks');
tab_content[0].style.display = 'block';
tab_links[0].className += ' active';
function open_tab(event, tab_name)
{
  // declare variables
  var i, tab_content, tab_links;

  // get all elements with class="db-tabcontent" and hide them
  tab_content = document.getElementsByClassName('db-tabcontent');
  for (i=0; i < tab_content.length; i++)
  {
    tab_content[i].style.display = 'none';
  }

  // get all elements with class="db-tablinks" and remove the calss "active"
  tab_links = document.getElementsByClassName('db-tablinks');
  for (i = 0; i < tab_links.length; i++)
  {
    tab_links[i].className = tab_links[i].className.replace(' active', '');
  }

  // show the current tab, and add an 'active' class to the button that opened the tab
  document.getElementById(tab_name).style.display = 'block';
  event.currentTarget.className += ' active';
}
</script>
{% endblock %}