{% block navbar %}
<nav class="db-bar db-fixed-top" id="navbar">
  <a class="db-button" id="item_list" href="{{ path('item_list') }}">Items</a>
  <a class="db-button" id="list_locations" href="{{ path('list_locations') }}">Locations</a>
  <a class="db-button" id="list_pos" href="{{ path('list_pos') }}">Purchase Orders</a>
  {# <a class="db-button" id="list_transactions" href="{{ path('list_transactions') }}">Transactions</a> #}
</nav>

<script>
  window.addEventListener('load', function() {
    select_route();
  });

  function select_route() {
    if (document.getElementById({{ route_name|json_encode()|raw }}))
    // necessary as some routes will not have a navbar button, such as modify_item
    {
      const button = document.getElementById({{ route_name|json_encode()|raw }});
      button.classList.add('db-selected');
    }
  }
</script>
{% endblock %}