{% extends 'base.html.twig' %}
{% block title %}{{ params.name }}{% endblock %}
{% block content %}
<h3 class="db-panel">{{ params.name }}</h3>
<div class="db-half">
  <div class="db-wrapper db-border">
    <form action="{{ path('modify_location') }}" class="db-wrapper db-column db-panel" id="location_form" method="post">
      <input type="text" class="db-input db-border" name="location_name" placeholder="Location Name" value="{{ params.name }}" required>
      <button type="submit" class="db-button db-border" for="location_form">Modify Entry</button>
      <input type="text" name="location_id" value="{{ params.location_id }}" hidden>
    </form>
    <form action="{{ path('display_location') }}" class="db-wrapper db-column db-panel" id="filter_form" method="get">
      <input type="text" class="db-input db-border" id="item_name" name="item_name" placeholder="Item Name">
      <button type="submit" class="db-button db-border" for="filter_form">Filter</button>
      <input type="text" name="location_id" value="{{ params.location_id }}" hidden>
    </form>
  </div>
</div>
<table>
  <tr>
    <th>{{ knp_pagination_sortable(result, 'Item', 'item.name') }}</th>
    <th>Description</th>
    <th>{{ knp_pagination_sortable(result, 'Quantity', 'i.quantity') }}</th>
    <th>{{ knp_pagination_sortable(result, 'Exp. Date', 'item.exp_date') }}</th>
  </tr>
  {% for row in result %} {# simple loop to output rows #}
    <tr>
      <td><a href="{{ path('display_item', {'item_id': row.id }) }}">{{ row.item.name }}</a></td>
      <td>{{ row.item.description }}</td>
      <td>{{ row.quantity }}</td>
      <td>{% if row.item.expDate %}{{ row.item.expDate|format_datetime('short', 'none') }}{% endif %}</td>
    </tr>
  {% endfor %}
</table>
<div class="db-bar">
  {{ include('widgets/limit_widget.html.twig') }}
  <span class="db-right">
    {{ knp_pagination_render(result, 'pagination/dboling_pagination.html.twig') }}
  </span>
</div>


<script>
  window.onload = (event) => {
    params = {{ params|json_encode()|raw }};
    for (var parent_key in params)
    {
      for (var child_key in params[parent_key])
      {
        if (['item_name', 'limit'].includes(parent_key)) { filter_form.elements[parent_key].value = params[parent_key]; }
      }
    }
  };
</script>
{% endblock %}