{% extends 'base.html.twig' %}
{% block title %}Locations{% endblock %}
{% block content %}
<div class="db-wrapper">
  <div class="db-resize-horizontal">
    <table>
      <tr>
        <th>{{ knp_pagination_sortable(result, 'Loc Code', 'loc_code') }}</th>
        <th>{{ knp_pagination_sortable(result, 'Loc Name', 'loc_desc') }}</th>
        <th>Entries</th>
        <th>Total Items</th>
      </tr>
      {% for row in result %}
        <tr>
          <td><a href="{{ path('list_locations', {loc_code: row.locCode }) }}">{{ row.locCode }}</a></td>
          <td><a href="{{ path('list_locations', {loc_code: row.locCode }) }}">{{ row.locDesc }}</a></td>
          <td>{{ row.itemLoc|length }}</td>
          <td>{{row.itemQty }}
        </tr>
      {% endfor %}
    </table>
  </div>
  {{ include('location/loc_form.html.twig') }}
</div>
{% endblock %}
{% block footer %}
<div class="db-bar">
  {{ include('widgets/limit_widget.html.twig') }}
  <span class="db-right">
    {{ knp_pagination_render(result, 'pagination/dboling_pagination.html.twig') }}
  </span>
</div>
{% endblock %}