{% extends 'base.html.twig' %}
{% block title %}Locations{% endblock %}
{% block content %}
<div class="db-wrapper">
  <div class="db-resize-horizontal">
    <table>
      <tr>
        <th>{{ knp_pagination_sortable(result, 'Location', 'loc_name') }}</th>
        <th>Entries</th>
        <th>Total Items</th>
      </tr>
      {% for row in result %}
        <tr>
          <td><a href="{{ path('display_location', {location: row.locName }) }}">{{ row.locName }}</a></td>
          <td>{{ row.Itemlocation|length }}</td>
          <td>{{row.itemQuantity }}
        </tr>
      {% endfor %}
    </table>
  </div>
  {{ include('location/loc_form.html.twig') }}
</div>
{% endblock %}
{% block footer %}
<div class="db-bar">
  {{ include('widgets/limit_widget.html.twig') }}
  <span class="db-right">
    {{ knp_pagination_render(result, 'pagination/dboling_pagination.html.twig') }}
  </span>
</div>
{% endblock %}