{% block pagination %}
{% if pageCount > 1 %}
  <span class="db-bar">
    {% if previous is defined %}
      <a class="db-button" rel="prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&laquo;&nbsp;{{ 'label_previous'|trans({}, 'KnpPaginatorBundle') }}</a>
    {% else %}
      <span class="db-button">&laquo;&nbsp;{{ 'label_previous'|trans({}, 'KnpPaginatorBundle') }}</span>
    {% endif %}

    {% if startPage > 1 %}
      <a class="db-button" href="{{ path(route, query|merge({(pageParameterName): 1})) }}">1</a>
      {% if startPage == 3 %}
        <a class="db-button" href="{{ path(route, query|merge({(pageParameterName): 2})) }}">2</a>
      {% elseif startPage != 2 %}
        <span class="db-button">&hellip;</span>
      {% endif %}
    {% endif %}

    {% for page in pagesInRange %}
      {% if page != current %}
        <a class="db-button" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
      {% else %}
        <span class="db-button db-selected">{{ page }}</span>
      {% endif %}
    {% endfor %}

    {% if pageCount > endPage %}
      {% if pageCount > (endPage + 1) %}
        {% if pageCount > (endPage + 2) %}
          <span class="db-button">&hellip;</span>
        {% else %}
          <a class="db-button" href="{{ path(route, query|merge({(pageParameterName): (pageCount - 1)})) }}">{{ pageCount -1 }}</a>
        {% endif %}
      {% endif %}
      <a class="db-button" href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}">{{ pageCount }}</a>
    {% endif %}

    {% if next is defined %}
      <a class="db-button" rel="next" href="{{ path(route, query|merge({(pageParameterName): next})) }}">{{ 'label_next'|trans({}, 'KnpPaginatorBundle') }}&nbsp;&raquo;</a>
    {% else %}
      <span class="db-button">{{ 'label_next'|trans({}, 'KnpPaginatorBundle') }}&nbsp;&raquo;</span>
    {% endif %}
  </div>
{% endif %}
{% endblock %}