{#
/**
 * @file
 * Twitter Bootstrap v4 Sliding pagination control implementation.
 *
 * View that can be used with the pagination module
 * from the Twitter Bootstrap CSS Toolkit
 * https://getbootstrap.com/docs/4.5/components/pagination/
 *
 */
#}
{% if pageCount > 1 %}
    <div class="w3-show-inline-block w3-border">

        {% if previous is defined %}
            <a class="w3-bar-item w3-button w3-small" rel="prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&laquo;&nbsp;{{ 'label_previous'|trans({}, 'KnpPaginatorBundle') }}</a>
        {% else %}
            <span class="w3-bar-item w3-button w3-small">&laquo;&nbsp;{{ 'label_previous'|trans({}, 'KnpPaginatorBundle') }}</span>
        {% endif %}

        {% if startPage > 1 %}
            <a class="w3-bar-item w3-button w3-small" href="{{ path(route, query|merge({(pageParameterName): 1})) }}">1</a>
            {% if startPage == 3 %}
                <a class="w3-bar-item w3-button w3-small" href="{{ path(route, query|merge({(pageParameterName): 2})) }}">2</a>
            {% elseif startPage != 2 %}
                <span class="w3-bar-item w3-button w3-small">&hellip;</span>
            {% endif %}
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <a class="w3-bar-item w3-button w3-small" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
            {% else %}
                <span class="w3-bar-item w3-button w3-small" style="background-color:#A9A9A9">{{ page }}</span>
            {% endif %}
        {% endfor %}

        {% if pageCount > endPage %}
            {% if pageCount > (endPage + 1) %}
                {% if pageCount > (endPage + 2) %}
                    <span class="w3-bar-item w3-button w3-small">&hellip;</span>
                {% else %}
                    <a class="w3-bar-item w3-button w3-small" href="{{ path(route, query|merge({(pageParameterName): (pageCount - 1)})) }}">{{ pageCount -1 }}</a>
                {% endif %}
            {% endif %}
            <a class="w3-bar-item w3-button w3-small" href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}">{{ pageCount }}</a>
        {% endif %}

        {% if next is defined %}
            <a class="w3-bar-item w3-button w3-small" rel="next" href="{{ path(route, query|merge({(pageParameterName): next})) }}">{{ 'label_next'|trans({}, 'KnpPaginatorBundle') }}&nbsp;&raquo;</a>
        {% else %}
            <span class="w3-bar-item w3-button w3-small">{{ 'label_next'|trans({}, 'KnpPaginatorBundle') }}&nbsp;&raquo;</span>
        {% endif %}
    </div>
{% endif %}
