<html>
  <head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <title>Inventory - Modify</title>
  </head>

  <body>
    <div class="w3-bar">
      <a class="w3-button" href="https://{{ hostname }}:8000/items">Items</a>
      <a class="w3-button" href="https://{{ hostname }}:8000/new/item">New Item</a>
      <a class="w3-button" href="https://{{ hostname }}:8000/locations">Locations</a>
      <a class="w3-button" href="https://{{ hostname }}:8000/new/location">New Location</a>
    </div>
    <div class="w3-panel">
      <div class="w3-panel">
        <h3>Modify Location</h3>
        <p>{{ date }}</p>
      </div>
    </div>
    <div class="w3-panel">
      <b>{{ form(modify_form) }}</b>
    </div>
    <div class="w3-panel">
      <b>{{ form(search_form) }}</b>
    </div>

    <div class="w3-panel .dbtheme-purple">
      <table class="w3-table-all">
        <tr>
          <th>Item</th>
          <th>Quantity</th>
          <th></th>
        </tr>
        {% for row in items %} {# simple loop to output rows #}
          <tr>
            <td>{{ row.name }}</td>
            <td>{{ row.quantity }}</td>
            <td><a href="{{ path('modify_item', {'id': row.id }) }}">Modify</a></td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </body>


</html>