{% block navbar %}
<nav class="db-bar db-fixed-top" id="navbar">
  <a class="db-button" id="items_list" href="{{ path('items_list') }}">Items</a>
  <a class="db-button" id="new_item" href="{{ path('new_item') }}">New Item</a>
  <a class="db-button" id="locations_list" href="{{ path('locations_list') }}">Locations</a>
  <a class="db-button" id="transactions_list" href="{{ path('transactions_list') }}">Transactions</a>
</nav>

<script>
  window.addEventListener('load', function() {
    select_route();
  });

  function select_route() {
    if (document.getElementById({{ route_name|json_encode()|raw }}))
    // necessary as some routes will not have a navbar button, such as modify_item
    {
      const button = document.getElementById({{ route_name|json_encode()|raw }});
      button.classList.add('db-selected');
    }
  }
</script>
{% endblock %}