{% extends 'base.html.twig' %}
{% block body %}
{% set route_name = app.request.attributes.get('_route') %}
<div class="db-bar">
  <a class="db-bar-item db-button" id="show_items" href="{{ path('show_items') }}">Items</a>
  <a class="db-bar-item db-button" id="new_item" href="{{ path('new_item') }}">New Item</a>
  <a class="db-bar-item db-button" id="show_locations" href="{{ path('show_locations') }}">Locations</a>
</div>

<script>
  window.addEventListener('load', function() {
    select_route();
  });

  function select_route() {
    if (document.getElementById({{ route_name|json_encode()|raw }}))
    // necessary as some routes will not have a navbar button, such as modify_item
    {
      const button = document.getElementById({{ route_name|json_encode()|raw }});
      button.classList.add('db-button-route');
    }
  }
</script>

{% endblock %}