{% extends 'base.html.twig' %}
{% block title %}Inventory - Overview{% endblock %}
{% block body %}
{{ include('navbar.html.twig') }}
<div style="background-color:#F1F1F1">
  <button type="button" class="db-button db-round-small" style="width:100px" onclick="toggle_filter_form()">Filter</button>
</div>
<div class="db-form-popup db-quarter db-panel db-border" id="filter_form_popup" style="max-width:300px; min-width:300px">
  <form action="{{ path('items_display') }}" class="db-border db-panel" id="filter_form" method="get">
    <p>
      <label for="item">
        Item
        <input type="text" class="db-input" id="item_name" name="item_name"/>
      </label>
      <label for="location">
        <b>Locations</b>
        {% for location in locations %}
          <label for="location_{{ location.id }}">
            <input type="checkbox" name="location[]" id="location_{{ location.id }}" value="{{ location.id }}"/>
            {{ location.name }}
          </label>
        {% endfor %}
      </label>
    </p>
    <p>
      <button type="submit" class="db-button">Filter</button>
    </p>
  </form>
</div>
<div>
  <table class="db-table">
    <tr>
      <th>{{ knp_pagination_sortable(result, 'Item', 'item.name') }}</th>
      <th>Description</th>
      <th>{{ knp_pagination_sortable(result, 'Quantity', 'quantity') }}</th>
      <th>{{ knp_pagination_sortable(result, 'Exp. Date', 'item.expDate') }}</th>
      <th>{{ knp_pagination_sortable(result, 'Location', 'location') }}</th>
    </tr>
    {% for row in result %} {# simple loop to output rows #}
      <tr>
        <td><a href="{{ path('modify_item', {id: row.id }) }}">{{ row.item.name }}</a></td>
        <td>{{ row.item.description }}</td>
        <td>{{ row.quantity }}</td>
        <td>{{ row.item.expDate|format_datetime('short', 'none') }}</td>
        <td><a href="{{ path('view_location', {'id': row.location.id }) }}">{{ row.location.name }}</a></td>
      </tr>
    {% endfor %}
  </table>
</div>
<div class="db-bar db-bottom" style="background-color:#f1f1f1">
  <div class="w3-cell-row w3-section"> 
    <div class="w3-container w3-cell">
      <select class="db-input db-quarter" name="limit" id="limit" form="filter_form" style="padding:4px;"/>
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
      <button type="submit" class="db-button" form="filter_form" style="padding:2px; margin-left:-6px;">Limit</button>
    </div>
    <div class="w3-container w3-cell">
        <div class="w3-container w3-right">
          {{ knp_pagination_render(result, 'pagination/bootstrap_v5_pagination.html.twig') }}
        </div>
      </div>
    </div>
</div>

<script>
  function toggle_filter_form() {
    filter_form = document.getElementById('filter_form_popup');
    if (filter_form.style.display == 'block') {
      filter_form.style.display = 'none';
    } else {
      filter_form.style.display = 'block';
    }
  }

  window.onload = (event) => {
    params = {{ params|json_encode()|raw }};
    filter_form = document.getElementById('filter_form');
    for (var parent_key in params)
    {
      for (var child_key in params[parent_key])
      {
        if (['item_name', 'limit'].includes(parent_key))
        {
          filter_form.elements[parent_key].value = params[parent_key];
        } else {
          field_name = parent_key.concat('_', params[parent_key][child_key]);
          filter_form.elements[field_name].checked = typeof params[parent_key][child_key];
        }
      }
    }
  };
</script>
{% endblock %}