{% extends 'base.html.twig' %}
{% block title %}Locations{% endblock %}
{% block body %}
{{ include('navbar.html.twig') }}
<div class="db-panel">
  <form action="{{ path('new_location') }}" id="location_form" method="get">
    <input type="text" class="db-input" id="name" name="name" placeholder="Location" style="padding:6px 10px;width:300px;"/>
    <button type="submit" class="db-button" style="margin-left:-6px;">Add Location</button>
  </form>
</div>
{% if params.s == true %}
  <span class="db-notif">
    <span class="db-center">
      Record Saved
    </span>
  </span>
{% endif %}
<div class="db-half">
  <table class="db-table">
    <tr>
      <th>{{ knp_pagination_sortable(loc_result, 'Location', 'name') }}</th>
      {# <th>Entries</th> #}
      {# <th>Total Items</th> #}
    </tr>
    {% for row in loc_result %}
      <tr>
        <td><a href="{{ path('view_location', {'id': row.id }) }}">{{ row.name }}</a></td>
        {# <td>{{ row.Itemlocation|length }}</td>
        // number of entries
        <td>{{ total_quantity}} #}
      </tr>
    {% endfor %}
  </table>
</div>
<div class="db-bar db-bottom" style="background-color:#f1f1f1">
  <div class="w3-cell-row w3-section">
    <div class="db-container w3-cell db-left">
        {{ knp_pagination_render(loc_result, 'pagination/bootstrap_v5_pagination.html.twig') }}
      </div>
    </div>
  </div>
</div>


<script>

  const params = {{ params|json_encode()|raw }};
  window.onload = (event) => {
    if (params.s)
    {
      document.getElementById('location_form').elements['name'].focus();
    }
  }
</script>
{% endblock %}