<!DOCTYPE html>

<html>

  <head>
    {% block stylesheets %}
      {{encore_entry_link_tags('app')}}
    {% endblock %}
    <script src="https://kit.fontawesome.com/0db354818b.js" crossorigin="anonymous"></script>

    <title>Inventory - Location Overview</title>
  </head>

  <body>
    {{ include('navbar.html.twig') }}
    <div class="w3-container">
      <h3>Locations</h3>
      <p>{{ date }}</p>
    </div>
    <table class="w3-table-all">
      <tr>
        <th>{{ knp_pagination_sortable(result, 'Location', 'name') }}</th>
        <th></th>
      </tr>
      {% for row in result %} {# simple loop to output rows #}
        <tr>
          <td>{{ row.name }}</td>
          <td><a class="w3-button w3-border w3-right w3-margin-right" href="{{ path('modify_location', {'id': row.id }) }}">Modify</a></td>
        </tr>
      {% endfor %}
    </table>
  </body>

</html>