{% extends 'base.html.twig' %}
{% block title %}View Fridge{% endblock %}
{% block body %}
{{ include('navbar.html.twig') }}
<div class="w3-container">
  <h3>View Location <i>{{ params.name }}</i></h3>
</div>
<div class="db-container">
  <form action="{{ path('modify_location', { id: params.location }) }}" class="db-third" id="location_form" method="get">
    <p>
      <input type="text" class="db-input" name="name" placeholder="Location" style="padding:6px 10px; width:300px;"/>
      <button type="submit" class="db-button" style="margin-left:-6px;">Modify Entry</button>
    </p>
  </form>
</div>
<div class="db-container">
  <form action="{{ path('view_location', { id: params.location }) }}" class="db-third" id="filter_form" method="get">
    <p>
      <input type="text" class="db-input" id="item_name" placeholder="Item Name" name="item_name" style="padding:6px 10px; width:300px;"/>
      <button type="submit" class="db-button" style="margin-left:-6px;">Filter</button>
    </p>
  </form>
</div>
{% if params.s == true %}
  <span class="db-notif">
    <span class="db-center">
      Record Saved
    </span>
  </span>
{% endif %}


<div class="">
  <table class="db-table">
    <tr>
      <th>{{ knp_pagination_sortable(result, 'Item', 'item.name') }}</th>
      <th>Description</th>
      <th>{{ knp_pagination_sortable(result, 'Quantity', 'quantity') }}</th>
      <th>{{ knp_pagination_sortable(result, 'Exp. Date', 'item.expDate') }}</th>
    </tr>
    {% for row in result %} {# simple loop to output rows #}
      <tr>
        <td><a href="{{ path('modify_item', {'id': row.id }) }}">{{ row.item.name }}</a></td>
        <td>{{ row.item.description }}</td>
        <td>{{ row.quantity }}</td>
        <td>{{ row.item.expDate|format_datetime('short', 'none') }}</td>
      </tr>
    {% endfor %}
  </table>
</div>
<div class="db-bar db-bottom" style="background-color:#f1f1f1">
  <div class="w3-cell-row w3-section"> 
    <div class="w3-container w3-cell">
      <select class="db-input db-quarter" name="limit" id="limit" form="filter_form" style="padding:4px;"/>
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
      <button type="submit" class="db-button" form="filter_form" style="padding:2px; margin-left:-6px">Limit</button>
    </div>
    <div class="w3-container w3-cell">
        <div class="w3-container w3-right">
          {{ knp_pagination_render(result, 'pagination/bootstrap_v5_pagination.html.twig') }}
        </div>
      </div>
    </div>
</div>



<script>
  if ( window.history.replaceState ) {
    window.history.replaceState( null, null, window.location.href );
  }

  window.onload = (event) => {
    params = {{ params|json_encode()|raw }};
    filter_form = document.getElementById('filter_form');
    for (var parent_key in params)
    {
      for (var child_key in params[parent_key])
      {
        if (['item_name', 'limit'].includes(parent_key))
        {
          filter_form.elements[parent_key].value = params[parent_key];
        }
      }
    }
  };
</script>

{% endblock %}