{% extends 'base.html.twig' %}
{% block title %}Product Orders{% endblock %}
{% block content %}
<div class="db-wrapper">
  <div class="db-resize-horizontal">
    <table>
      <tr>
        <th>{{ knp_pagination_sortable(result, 'Item', 'item.name') }}</th>
        <th>Description</th>
        <th>{{ knp_pagination_sortable(result, 'Quantity', 'i.quantity') }}</th>
        <th>{{ knp_pagination_sortable(result, 'Exp. Date', 'item.exp_date') }}</th>
        <th>{{ knp_pagination_sortable(result, 'Location', 'location.name') }}</th>
      </tr>
      {% for row in result %} {# simple loop to output rows #}
        <tr>
          <td><a href="{{ path('display_item', {item_id: row.id }) }}">{{ row.item.name }}</a></td>
          <td>{{ row.item.description }}</td>
          <td>{{ row.quantity }}</td>
          <td>{% if row.item.expDate %}{{ row.item.expDate|format_datetime('short', 'none') }}{% endif %}</td>
          <td><a href="{{ path('display_location', {location: row.location.id }) }}">{{ row.location.name }}</a></td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <form action="{{ path('list_product_orders') }}" class="db-wrapper db-column db-panel db-border" id="filter_form" method="get">
    <button type="submit" class="db-button db-border db-whole"><i class="fa-solid fa-filter"></i>Filter</button>
    <label for="item_name">Item</label>
    <input type="text" class="db-input db-border" id="item_name" name="item_name">
    <div class="db-form-section">
      <b>Locations</b>
      {% for location in locations %}
        <div class="db-wrapper">
          <input type="checkbox" name="location[]" id="location_{{ location.id }}" value="{{ location.id }}">
          <label for="location_{{ location.id }}">{{ location.name }}</label>
        </div>
      {% endfor %}
    </div>
  </form>
</div>
{% endblock %}

{% block footer %}
<div class="db-bar">
  {{ include('widgets/limit_widget.html.twig') }}
  <span class="db-right">
    {{ knp_pagination_render(result, 'pagination/dboling_pagination.html.twig') }}
  </span>
</div>
{% endblock %}