{% block form %}
<div class="db-panel db-wrapper db-third">
  <form class="db-wrapper db-fill db-column db-border" id="item_form" method="get">
      <div class="db-form-section">
      <label for="item_code">
        Item Code
        <input type="text" class="db-input db-border db-filter" list="item_code_datalist" id="item_code" name="item_code" autocomplete="off">
        <datalist id="item_code_datalist">
          {% for item in items %}
            <option value="{{ item.item_code }}">{{ item.item_code }}</option>
          {% endfor %}
        </datalist>
      </label>
    </div>
    <div class="db-form-section">
      <label for="item_desc">
        Item Desc
        <input type="text" class="db-input" id="item_desc" name="item_desc" autocomplete="off">
      </label>
    </div>
    <div class="db-form-section">
      <label for="item_desc">Notes</label>
      <textarea class="db-input" id="item_notes" name="item_notes"></textarea>
    </div>
    <div class="db-form-section">
      <label for="date">Expiration Date</label>
      <div class="db-wrapper">
        <input type="date" class="db-input" id="item_exp_date" name="item_exp_date" autocomplete="off">
        <button type="button" class="db-button db-red" onclick="window.location.href='{{ path('item_clear_exp_date') }}';">Clear Exp Date</button>
      </div>
    </div>
    <div class="db-form-section">
      <label for="item_unit">Unit of Measure</label>
      <input list="unit_datalist" id="item_unit" name="item_unit_code" class="db-input" autocomplete="off"></input>
      <datalist id="unit_datalist">
        {% for unit in units %}
          <option value="{{ unit.unitCode }}">{{ unit.unitDesc }}</option>
        {% endfor %}
      </datalist>
    </div>
    <div class="db-form-section">
      <label>Location</label>
      <div id="loc_widget">
        <!-- loc_template will build here-->
      </div>
      <template id="loc_template">
        <div class="db-wrapper">
          <input list="whs_datalist" class="db-input" autocomplete="off" disabled></input>
          <input list="loc_datalist" class="db-input" autocomplete="off" disabled></input>
          <input type="text" class="db-input db-auto" disabled></input>
        </div>
      </template>
      <div class="db-wrapper">
        <input type="text" class="db-input" autocomplete="off" disabled value="Total Quantity"></input>
        <input type="text" id="item_total_qty" class="db-input db-auto" disabled></input>
      </div>
    </div>
  </form>
</div>

<script>
const loc_widget = document.getElementById('loc_widget');
const loc_template = document.getElementById('loc_template');
var loc_input = [];

const input_fields = ['item_code', 'item_desc', 'item_notes', 'item_exp_date', 'item_unit', 'item_total_qty'];
// must add all desired fields to above list, and ensure array keys coming from PHP match related IDs.
input_fields.forEach(id => load_data(id));
function load_data(id)
{
  input = document.getElementById(id);
  input.value = params[id];
}

// filling values and input list from loaded entity, if exists
if (params.item_location) {
  params.item_location.forEach((value,index) => {
    const clone = loc_template.content.cloneNode(true);
    loc_widget.appendChild(clone);
    loc_widget.children[index].id = 'location_section_0' + (index + 1);
    loc_section = loc_widget.children[index];
    whs_name = loc_section.children[0];
    loc_name = loc_section.children[1];
    loc_qty = loc_section.children[2];
    loc_name.value = value.loc_code;
    whs_name.value = value.whs_code;
    loc_qty.value = value.item_qty;
    loc_input[index] = value.loc_code;
  });
}


new_items_list = [];
item_form = document.getElementById('item_form');
function new_line()
{
  item_form.reset()
}
</script>
{% endblock %}
