{% extends 'base.html.twig' %}
{% block title %}Items{% endblock %}
{% block content %}
<div class="db-wrapper">
  <div class="db-resize-horizontal">
    <table>
      <tr>
        <th>{{ knp_pagination_sortable(result, 'Item', 'item.item_name') }}</th>
        <th>{{ knp_pagination_sortable(result, 'Quantity', 'i.item_quantity') }}</th>
        <th>{{ knp_pagination_sortable(result, 'Unit', 'item.item_unit') }}</th>
        <th>{{ knp_pagination_sortable(result, 'Exp. Date', 'item.item_exp_date') }}</th>
        <th>Description</th>
      </tr>
      {% for row in result %} {# simple loop to output rows #}
        <tr>
          <td><a href="{{ path('list_items', {item_id: row.itemName }) }}">{{ row.itemName }}</a></td>
          <td>{{ row.itemQuantity }}</td>
          <td>{{ row.itemUnit.unitCode }}</td>
          <td>{% if row.itemExpDate %}{{ row.itemExpDate|format_datetime('short', 'none') }}{% endif %}</td>
          <td>{{ row.itemDesc }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
  {{ include('item/item_form.html.twig') }}
</div>
{% endblock %}

{% block footer %}
<div class="db-bar">
  {{ include('widgets/limit_widget.html.twig') }}
  <span class="db-right">
    {{ knp_pagination_render(result, 'pagination/dboling_pagination.html.twig') }}
  </span>
</div>
{% endblock %}
